$mq-small: 576px !default;
$mq-medium: 768px !default;
$mq-large: 992px !default;

$white: white;
$black: black;
$gray: lightgray;

$primary-font: 'Montserrat', sans-serif; 
$secondary-font: 'Domine';